/* This file is for your main application css. */


@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$navbar-dropdown-background-color: grey;
$navbar-tab-hover-background-color: grey;
$navbar-item-hover-background-color: #7BB9E8;

// Update Bulma's global variables
$family-sans-serif: "Roboto Mono", monospace;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "./medium_clap.scss";

  svg.logo {
    height: 40px;
    fill: rgb(255, 255, 255)!important;
  }


  .hero-head {
    position: absolute;
    width: 100%;
  }

  .hero-foot {
    display: none;
  }

  .socialbar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    color: #ffffff;

    .call_to_action {
      font-size: 0.8rem;
    }
  }
