<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JUNIKORN</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/d377f48f63.js"></script>
    <!-- Hitsteps TRACKING CODE - Manual 2019-07-03 - DO NOT CHANGE -->
    <script type="text/javascript">(function(){var hstc=document.createElement('script'); hstc.src='https://log.hitsteps.com/track.php?code=9e23c46417127f9e5fc494144b9f724d';hstc.async=true;var htssc = document.getElementsByTagName('script')[0];htssc.parentNode.insertBefore(hstc, htssc);})();
    </script><noscript><a href="http://www.hitsteps.com/"><img src="//log.hitsteps.com/track.php?mode=img&amp;code=9e23c46417127f9e5fc494144b9f724d" alt="web statistics" width="1" height="1" />Realtime blog statistics</a></noscript>
    <!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v4.0&appId=208489546334039&autoLogAppEvents=1"></script>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <div class="socialbar">
      <div class="call_to_action">Folge uns auf Facebook</div>
        <div class="fb-like" data-href="https://www.facebook.com/junik0rn" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
